{% load staticfiles %} {% load static %}
<!DOCTYPE html>

<html>
{% include 'base.html' %}

<head>
    <title>Books</title>
</head>

<script>
    $(document).ready(function () {
        $.ajax({
            url: '{% url "books_data" %}',
            dataType: "json",
            success: function (data) {
                let dataString = "";
                $.each(data.booksData, function (key, value) {
                    dataString += "<tr>"
                    dataString += "<td>" + value.volumeInfo.title + "</td>";
                    dataString += "<td>" + value.volumeInfo.authors + "</td>";
                    dataString += "<td>" + value.volumeInfo.publisher + "</td>";
                    dataString += "<td>" + value.volumeInfo.publishedDate + "</td>";
                    dataString += "<td>" + value.volumeInfo.description + "</td>";
                    dataString += "<td><img src='" + value.volumeInfo.imageLinks.thumbnail + "'></img></td>";
                    dataString += '<td><div id="fav-button" class="btn-group-toggle" data-toggle="buttons"><label class="btn btn-warning"><input type="checkbox" checked autocomplete="off">Favorite</label></div></td>';
                    dataString += "</tr>"
                });
                $("#booksList").append(dataString);
            }
        });
        var favcount = 0;
        document.getElementById("favcount").innerHTML = favcount;
        $("#fav-button").click(function (){
            
        });
    });
</script>

<header>
    <div align="middle">
        <h1 align="middle">Books</h1>
        {% include 'navbar.html' with active_tab='books' %}
        <button type="button" class="btn btn-outline-light" id="change-theme">Change theme</button>
    </div>
</header>

<div align="middle" style="padding: 20px">
    <h3>
        Favorites: 
        <span id="favcount"></span>
    </h3>
    <div class="search-con">
            <input class="search-input" type="text" placeholder="Search">
            <button id="search-button">Search</button>
    </div>  
</div>

<table id="booksList" class="table table-hover" style="width: 100%;">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>Publish Date</th>
            <th>Description</th>
            <th>Image</th>
            <th>Add to favorites</th>
        </tr>
    </thead>
    <tbody></tbody>

</table>


{% include 'footer.html' %}

</html>