{% load staticfiles %}
{% load static %}
<!DOCTYPE html>

<html>
    {% include 'base.html' %}

    <script>   
        $(function() {
            $("#accordion").accordion({
            });
        });        
    </script>

    <head>
        <title>Dimas Krissanto Rahmadi's Website</title>
    </head>

	<body>   

        <div class="fakeloader"></div>

        <header>
            <div align = "middle">
                <img src="{% static 'images/dimas.png' %}" alt="Avatar" height="200px" width="200px">
                <p align = "middle">Hello, my name is</p>
                <h1 align = "middle">Dimas Krissanto Rahmadi</h1>
                {% include 'navbar.html' with active_tab='home' %}
                <button type="button" class="btn btn-outline-light" id="change-theme">Change theme</button> 
            </div>     
        </header>

        <div class = "row">
            <div class = "column left">
                <h2>Details</h2>
                <p>Age:</p>
                <p>18</p>

                <p>Location:</p> 
                <p>Depok, Indonesia</p>
            </div>
            <div class = "column right">
                <h2>About me</h2>
                <p>
                    I am a student that aspires to be a software
                    engineer. I have been interested in computer science 
                    ever since I was a little kid. I program, play guitar, and
                    makes graphic designs. Also enjoys working 
                    both individually and in a team.
                </p>
            </div>
        </div>
    
        <div class = "content" >
            <div id="accordion">
                <h2>Education</h2>
                <div>
                        <div class = "row">
                                <div class = "column1 left1">
                                    <p>2014 - 2017</p>
                                    <p>Depok, Indonesia</p>
                                </div>
                                <div class="column1 right1">
                                    <h3>Highschool - SMA Negeri 3 Depok (Depok State Highschool no. 3)</h3>
                                    <p>Mathematics and Natural Sciences major</p>
                                </div>
                            </div>  
                            <div class = "row">
                                <div class = "column1 left1">
                                    <p>2017 - now</p>
                                    <p>Depok, Indonesia</p>
                                </div>
                                <div class="column1 right1">
                                    <h3>Undergraduate - Computer Science at Universitas Indonesia</h3>
                                    <p>Relevant courseworks : Foundations of Programming, Discrete Mathematics, Data Structures and Algorithms, Introduction to Digital Systems, Linear Algebra</p>
                                </div>
                            </div> 
                </div>
                <h2>Abilities</h2>
                <div>
                        <div class="row">
                                <div class="column1">
                                    <img src="{% static 'images/5.png' %}">
                                </div>
                                <div class="column1">
                                    <p>Python</p>
                                </div>
                                <div class="column1">
                                    <img src="{% static 'images/3.png' %}">
                                </div>
                                <div class="column1">
                                    <p>Git</p>
                                </div>
                                <div class="column1">
                                    <img src="{% static 'images/3.png' %}">
                                </div>
                                <div class="column1">
                                    <p>Adobe Photoshop</p>
                                </div>
                            </div>
                
                            <div class="row">
                                <div class="column1">
                                    <img src="{% static 'images/5.png' %}">
                                </div>
                                <div class="column1">
                                    <p>Java</p>
                                </div>
                                <div class="column1">
                                    <img src="{% static 'images/3.png' %}">
                                </div>
                                <div class="column1">
                                    <p>HTML</p>
                                </div>
                                <div class="column1">
                                    <img src="{% static 'images/3.png' %}">
                                </div>
                                <div class="column1">
                                    <p>Adobe Illustrator</p>
                                </div>
                            </div>
                </div>
                <h2>Activities</h2>
                <div>
                    <ul>
                        <li><p>University</p></li>
                        <li><p>Music and Singing</p></li>
                    </ul>
                </div>
                <h2>Organizational Experience</h2>
                <div>
                    <ul>
                        <li><p>Organized countless events in high school</p></li>
                        <li><p>2018 Fasilkom UI's Easter event</p></li>
                    </ul>
                </div>
                <h2>Achievements</h2>
                <div>
                        <div class = "row">
                                <div class = "column1 left1">
                                    <h3>2015</h3>
                                </div>
                                <div class="column1 right1">
                                    <p>Finalist at National Logic Competition held by Institut Teknologi Sepuluh November</p>
                                </div>
                            </div>  
                            <div class = "row">
                                <div class = "column1 left1">
                                    <h3>2016</h3>
                                </div>
                                <div class="column1 right1">
                                    <p>Finalist at National Logic Competition held by Institut Teknologi Sepuluh November</p>
                                </div>
                            </div>  
                </div>
                <h2>Languages</h2>
                <div>   
                        <div class="row">
                                <div class="column1">
                                    <img src="{% static 'images/5.png' %}">
                                </div>
                                <div class="column1">
                                    <p>Bahasa Indonesia (mother tongue)</p>
                                </div>
                            </div>
                
                            <div class="row">
                                    <div class="column1">
                                        <img src="{% static 'images/5.png' %}">
                                    </div>
                                    <div class="column1">
                                        <p>English (fluent)</p>
                                    </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
                
        {% include 'footer.html' %}

        <script src="{% static 'js/fakeLoader.min.js' %}"></script>
        <script>
            $(document).ready(function(){
                $(".fakeloader").fakeLoader({
                    timeToHide:1200,
                    bgColor:"#4C8DBC",
                    spinner:"spinner1"
                });
            });
        </script>
    
	</body> 
</html>