<div class="d-flex justify-content-center">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #4C8DBC; font-size: 18pt">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link {% if active_tab == 'home' %} active {% endif %}" href="{% url 'index' %}">HOME</a>
                <a class="nav-item nav-link {% if active_tab == 'portfolio' %} active {% endif %}" href="{% url 'portfolio' %}">DESIGN PORTFOLIO</a>
                <a class="nav-item nav-link {% if active_tab == 'register' %} active {% endif %}" href="{% url 'register' %}">REGISTER</a>
                <a class="nav-item nav-link {% if active_tab == 'schedule' %} active {% endif %}" href="{% url 'schedule' %}">SCHEDULE</a>
                <a class="nav-item nav-link {% if active_tab == 'submissions' %} active {% endif %}" href="{% url 'submissions' %}">SUBMISSIONS</a>
                <a class="nav-item nav-link {% if active_tab == 'books' %} active {% endif %}" href="{% url 'books' %}">BOOKS</a>            
            </div>
        </div>
    </nav>
</div>
