{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>
    {% include 'base.html' %}    


    <head>
        <title>Dimas' Design Portfolio</title>
    </head>

    <body>
        <header>
            <div align = "middle">
                <h1 align = "middle">Dimas Krissanto Rahmadi's Design Portfolio</h1>
                {% include 'navbar.html' with active_tab='portfolio' %}
                <button type="button" class="btn btn-outline-light" id="change-theme">Change theme</button>             
            </div>
        </header>

        <div style = "padding: 40px">
            <h2>Research posters for Dr. Djoko Sihono Gabriel</h2>

            <div class = "content" >
                <img src="{% static 'images/poster1.png' %}" height="400px">
                <br/>
                <img src="{% static 'images/poster2.png' %}" height="400px">
            </div>
            <br/>

            <h2>Announcement poster for Faculty of Computer Science Universitas Indonesia’s 2018 Easter celebration</h2>

            <div class = "content" >
                    <img src="{% static 'images/paskah.png' %}" height="400px">
            </div>
        </div>  

        <div style="text-align: center; padding: 40px">
            <button type="button" class="btn btn-outline-primary" onclick="location.href='{% url 'index' %}'">Back to home</button>
        </div>

        <footer>
                <h1 align = "middle">Contact me</h1>
                <p align = "middle">dimaskr2000@gmail.com</p>
        </footer>

    </body>

</html>