{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>
    {% include 'base.html' %}    

    <head>
        <title>Register to Dimas' Website</title>
    </head>

    <header>
        <div align="middle">
            <h1 align = "middle">Register to Dimas Krissanto Rahmadi's website</h1>
            {% include 'navbar.html' with active_tab='register' %}
            <button type="button" class="btn btn-outline-light" id="change-theme">Change theme</button>             
        </div>
            
    </header>

    <div style="padding: 40px">
        <form>
                <div class="form-group">
                    <label for="inputName">Name</label> <input type="text" class="form-control" id="inputName" aria-describedby="nameHelp" placeholder="Enter name">
                </div>
                <div class="form-group">
                    <label for="inputDate">Date of birth</label>
                    <input type="date" class="form-control" id="inputDate" aria-describedby="dateHelp" placeholder="Enter date of birth">
                </div>
                <div class="form-group">
                    <label for="inputEmail">Email address</label>
                    <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="inputUsername">Username</label>
                    <input type="text" class="form-control" id="inputUsername" aria-describedby="usernameHelp" placeholder="Enter desired username">
                </div>
                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="inputPasswordConfirmation">Password confirmation</label>
                    <input type="password" class="form-control" id="inputPasswordConfirmation" placeholder="Password confirmation">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
    </div>

    <footer>
            <h1 align = "middle">Contact me</h1>
            <p align = "middle">dimaskr2000@gmail.com</p>
    </footer>

    

</html>