{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>
    {% include 'base.html' %}

    <head>
        <title>Schedule</title>
    </head>

    <header>
        <div align="middle">        
            <h1 align = "middle">Schedule</h1>
            {% include 'navbar.html' with active_tab='schedule' %}
            <button type="button" class="btn btn-outline-light" id="change-theme">Change theme</button>             
        </div>
    </header>

    <div style="padding: 40px">
        <form method="POST" class="post-form">{% csrf_token %}
            <div class="form-group">
                <label for="inputDate">Date</label><br>
                {{ form.date }}
            </div>
            <div class="form-group">
                <label for="inputTime">Time</label><br>
                {{ form.time }}
            </div>
            <div class="form-group">
                <label for="inputActivity">Activity</label><br>
                {{ form.activity }}
            </div>
            <div class="form-group">
                <label for="inputPlace">Place</label><br>
                {{ form.place }}
            </div>
            <div class="form-group">
                <label for="inputCategory">Category</label><br>
                {{ form.category }}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <footer>
            <h1 align = "middle">Contact me</h1>
            <p align = "middle">dimaskr2000@gmail.com</p>
    </footer>    

</html>