{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            color: black;
        }
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even) {
            background-color: #dddddd;
        }
        tr:nth-child(odd) {
            background-color: gray;
        }
    </style>

    {% include 'base.html' %}

    <head>
        <title>Submitted Schedules</title>
    </head>

    <header>
        <div align="middle">        
            <h1 align = "middle">Submitted Schedules</h1>
            {% include 'navbar.html' with active_tab='submissions' %}
            <button type="button" class="btn btn-outline-light" id="change-theme">Change theme</button>             
        </div>
    </header>

    <div>
        <table>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Activity</th>
                <th>Place</th>
                <th>Category</th>
            </tr>
            {% for subs in submissionsList %}
            <tr>
                <th>{{ subs.date }}</th>
                <th>{{ subs.time }}</th>
                <th>{{ subs.activity }}</th>
                <th>{{ subs.place }}</th>
                <th>{{ subs.category }}</th>
            <tr>
            {% endfor %}
         </table>
        <div style="text-align: center; padding: 40px">         
            <form method="POST" class="post-form">{% csrf_token %}
                <button type="submit" class="btn btn-primary">Delete all</button>
            </form>
        </div>
    </div>
    
    <footer>
            <h1 align = "middle">Contact me</h1>
            <p align = "middle">dimaskr2000@gmail.com</p>
    </footer>    

</html>