body {
	background-color: white;
	color: black;
	margin: 0;
	font-family: "Roboto";
}
.body-night {
	background-color: rgb(56, 56, 56);
	color: white;
	margin: 0;
	font-family: "Roboto";
}
img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.navbar .navbar-expand {
	font-size: 26pt;
}
a {
	color: white;
}
h1 {
	font-size: 28pt;
}
h2 {
	font-size: 26pt;
}
h3 {
	font-size: 18pt;
}
p {
	font-size: 16pt;
}

* {
    box-sizing: border-box;
}
header{
	text-align: middle;	
	padding: 20px;
	background-color: #4C8DBC;
	color: white;
}
.column {
	background-color: white;
	color: black;
    float: left;
    padding: 50px;
}
.column-night {
	background-color: rgb(36, 36, 36);
	color: white;
    float: left;
    padding: 50px;
}
.column1 {
	background-color: #E9E9E9;
	color: black;
    float: left;
    padding: 50px;
}
.column1-night {
	background-color: rgb(56, 56, 56);
	color: white;
    float: left;
    padding: 10px;
}
.left {
	text-align: right;
	width: 50%;
}
.right {
	text-align: left;
	width: 50%;
}
.row:after {
    content: "";
    display: table;
	clear: both;
	padding: 10px;
}
.left1 {
	text-align: right;
	width: 20%;
}
.right1 {
	text-align: left;
	width: 80%;
}
.content {
	padding: 50px;
	background-color: #E5E5E5;
}
.content-night {
	padding: 50px;
	background-color: rgb(56, 56, 56);
}
.year {
	color: black;
}
.year-night {
	color: white;
}
footer{
	padding: 20px;
	text-align: middle;
	background-color: #353535;
	color: #E9E9E9;
}
.footer-night {
	padding: 20px;
	text-align: middle;
	background-color: #4C8DBC;
	color: white;
}