{% load staticfiles %}
{% load static %}
<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>    
    <link rel="stylesheet" href="{% static 'css/fakeLoader.css' %}">              
    <link rel="stylesheet" href="{% static 'css/style3.css' %}">  
</head>

<script>
    $(document).ready(function() {
        var night = false;
        $("#change-theme").click(function(){
            if (night == false){
                $('body').addClass('body-night');
                $('.column').addClass('column-night').removeClass('column');
                $('.column1').addClass('column1-night').removeClass('column1');
                $('.content').addClass('content-night').removeClass('content');  
                $('footer').addClass('footer-night');                                                          
                night = true;
            } else {
                $('body').removeClass('body-night');
                $('.column-night').addClass('column').removeClass('column-night');
                $('.column1-night').addClass('column1').removeClass('column1-night');
                $('.content-night').addClass('content').removeClass('content-night');   
                $('footer').removeClass('footer-night');                                                                                               
                night = false;
            }
        }); 
    });
    
</script>    
